name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.2'
          - '8.3'
          - '8.4'
        minimum_versions: [false]
        coverage: ['none']
        include:
          - description: 'Minimum version'
            php: '8.2'
            minimum_versions: true
          - description: 'Log Code Coverage'
            php: '8.2'
            coverage: 'xdebug'

    name: PHP ${{ matrix.php }} ${{ matrix.description }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: ${{ matrix.php }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: ${{ matrix.coverage }}

      - name: Install dependencies
        run: composer install
        if: matrix.minimum_versions == false

      - name: Install dependencies lower
        run: composer update --no-interaction --prefer-lowest
        if: matrix.minimum_versions == true

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit
        if: matrix.coverage == 'none'

      - name: PHPUnit tests and Log Code coverage
        run: ./vendor/bin/phpunit --exclude-group proxy --coverage-clover=coverage.xml
        if: matrix.coverage == 'xdebug'

      - name: Run codecov
        uses: codecov/codecov-action@v5
        if: matrix.coverage == 'xdebug'
        with:
          file: './coverage.xml'
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
