name: Code style

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  php-cs-fixer:
    name: PHP-CodeSniffer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install dependencies
        run: composer install

      - name: Run codestyle
        run: composer run codestyle

      - name: Run psalm
        run: composer run psalm
